
<ion-content>
  <div class="top-section">
    <div  class="top-section-content">

      <ion-label class="top-section-content-label-header">
        Reset PIN Number
      </ion-label>

      <ion-label text-wrap class="top-section-content-label">
        Keep Your Account Safe and Sound
      </ion-label>
       
      </div>
    </div>


  <ion-card class="bottom-section">
    <ion-card-content  class="bottom-ion-card-content">
        <ion-item>
          <ion-label position="stacked">6 Digits OTP</ion-label>
          <code-input [isCodeHidden]="true" [codeLength]="6" (codeChanged)="onCodeChangedOTP($event)">
          </code-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">New PIN Number</ion-label>
          <code-input [isCodeHidden]="true" [codeLength]="6" (codeChanged)="onCodeChangedNewPin($event)">
          </code-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm New PIN Number</ion-label>
          <code-input [isCodeHidden]="true" [codeLength]="6" (codeChanged)="onCodeChangedConfirmNewPin($event)">
          </code-input>
        </ion-item>
      <div class="bottom-button-section">
        <ion-button [disabled]="this.newPin.length !== 6 || this.confirmNewPin.length !== 6 || this.otp.length !== 6" color='primary' class="register-button" (click)="changePin()">
          CONFIRM PIN
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>
  
</ion-content>