<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="instant-transfer">
      <ion-icon aria-hidden="true" name="paper-plane-outline"></ion-icon>
      <ion-label>Transfer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card">
      <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
