<ion-content>
  <div class="top-section">
    <div  class="top-section-content">

      <ion-label class="top-section-content-label-header">
        Welcome to APWallet
      </ion-label>

      <ion-label text-wrap class="top-section-content-label">
        Transfer Money Easily With Us.
      </ion-label>
       
      </div>
    </div>


  <ion-card class="bottom-section">
    <ion-card-content class="bottom-ion-card-content">
      <form [formGroup]="this.loginForm">
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password"  formControlName="password"></ion-input>
        </ion-item>
      </form>
      <div class="bottom-button-section">
        <ion-button [disabled]="!canDone()" color='primary' class="login-button" (click)="login()">
          LOGIN
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>