<ion-content>
  <div class="top-section">
    <div *ngIf="user; else loadingBalance" class="balance-section">

      <div class="balance-label">
        Total Balance:
      </div>
      <div class="balance-amount">

        {{ user.balance | currency:'MYR ':'symbol':'1.2-2' }}
      </div>
    </div>
    <ng-template #loadingBalance>
      <div class="loading-spinner">
        <ion-spinner color="primary"></ion-spinner>
        <p class="loading-text glob-text-bold">Loading balance......</p>
      </div>
    </ng-template>
  </div>


  <ion-card class="bottom-section">
    <ion-card-header class="bottom-ion-header">
      <div class="bottom-header">
        Top Up Wallet
      </div>

    </ion-card-header>
    <ion-item>
      
      <ion-label position="stacked">Amount</ion-label>
      <ion-note color="danger" *ngIf="amount < 10">Min reload amount is RM10</ion-note>

      <ion-input [(ngModel)]="amount" inputmode="numeric" type="number">
        <span style="margin-right:10px">
          RM
        </span>
      </ion-input>
    </ion-item>
    <ion-card class="button-section">
      <ion-segment (ionChange)="onSegmentChanged($event)" value="card" ion-justify-content-center
        ion-align-items-center>
        <ion-segment-button value="card" class="segment-button">
          Card
        </ion-segment-button>
        <ion-segment-button value="online-banking" class="segment-button">
          Online Banking
        </ion-segment-button>
      </ion-segment>
    </ion-card>
    <ion-card-content class="bottom-ion-card-content" class="bottom-ion-card-content">
      <ng-container *ngIf="this.topupMethod ==='card'">
        <cdk-virtual-scroll-viewport class="bottom-viewport" itemSize="56" minBufferPx="900" maxBufferPx="1350">
          <ion-list class="bottom-content-ion-list">
            <ng-container *ngIf="(cards$ | async) as cards; else loadingCards">
              <ng-container *ngIf="cards.length !== 0 ; else noCards">
                <div *ngFor="let card of cards">
                  <ion-card class="bottom-contents">

                    <ion-item class="ion-no-padding" lines="none">
                      <ion-icon name="card-outline" size="large"></ion-icon>
                      <div class="bottom-labels-container">
                        <label>
                          Credit/debit card
                        </label>
                        <ion-label class="bottom-labels-card-number">
                          ************{{card.card_number.slice(-4)}}
                        </ion-label>
                      </div>
                      <ion-button [disabled]="amount < 10" (click)="topupCard(card)" color="medium" fill="clear" slot="end">
                        <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
                      </ion-button>
                    </ion-item>
                  </ion-card>
                </div>
              </ng-container>
            </ng-container>
          </ion-list>
        </cdk-virtual-scroll-viewport>

        <ng-template #noCards>
          <div class="no-card-section">
            <ion-label class="no-card-section-title">No Cards Found</ion-label>
            <ion-button (click)="addNewCard()" class="no-card-section-button" color="primary">Click here to add new card!</ion-button>
            <ion-img class="image" src='assets/img/no_card.png'></ion-img>
          </div>
        </ng-template>

        <ng-template #loadingCards>
          <div class="loading-spinner">
            <ion-spinner color="primary"></ion-spinner>
            <p class="loading-text glob-text-bold">Loading user cards......</p>
          </div>
        </ng-template>
      </ng-container>


      <ng-container *ngIf="this.topupMethod ==='online-banking'">
        <cdk-virtual-scroll-viewport class="bottom-viewport" itemSize="56" minBufferPx="900" maxBufferPx="1350">
          <ion-list class="bottom-content-ion-list">
                <div *ngFor="let bank of banks">
                  <ion-card class="bottom-contents">

                    <ion-item class="ion-no-padding" lines="none">
                      <ion-img class="bank_logo" [src]="bank.logo"></ion-img>
                      <div class="bottom-labels-container">
                        <label>
                          {{bank.name}}
                        </label>
                      </div>
                      <ion-button [disabled]="amount < 10" (click)="topupBank(bank)" color="medium" fill="clear" slot="end">
                        <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
                      </ion-button>
                    </ion-item>
                  </ion-card>
                </div>
          </ion-list>
        </cdk-virtual-scroll-viewport>

        <ng-template #noCards>
          <div class="no-card-section">
            <ion-label class="no-card-section-title">No Cards Found</ion-label>
            <ion-button (click)="addNewCard()" class="no-card-section-button" color="primary">Click here to add new card!</ion-button>
            <ion-img class="image" src='assets/img/no_card.png'></ion-img>
          </div>
        </ng-template>

        <ng-template #loadingCards>
          <div class="loading-spinner">
            <ion-spinner color="primary"></ion-spinner>
            <p class="loading-text glob-text-bold">Loading user cards......</p>
          </div>
        </ng-template>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-content>