ion-content {
  --background: var(--ion-color-primary);
  border-radius: 3rem;
}


.top-section {
  height: 20%;

}



ion-title {
  font-size: 24px;
}

.balance-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-light);
}

.balance-label {
  font-size: 24px;
}

.balance-amount {
  font-size: 48px;
}

.transaction-section {
  border-radius: 24px 24px 0px 0px;
  margin: 0px;
  background-color: #f4f6fe !important;
  display: flex;
  flex-direction: column;
  flex: 1;

  .transactions {
    border-radius: 1.5rem;
    // padding-bottom: 0.75rem;
    // padding-top: 0.75rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

  }

  .transaction-header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 8px;
  }

  .transaction-ion-header {
    background-color: #f4f6fe !important;
  }
  .transaction-ion-list{
    background-color: #f4f6fe !important;

  }
  .labels-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  .balance-change-label{
    font-size: 24px;
    font-weight: bold;
  }

  .labels-date{
    font-size: 16px;
    color: var(--ion-color-primary)
  }

  .labels-time{
    color: var(--ion-color-medium);
    font-size: 14px;
    font-weight: lighter;

  }
}

.no-card-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .no-card-section-title{
    font-size: 24px;
    font-weight: bold;
    color: var(--ion-color-dark);
  }

  .no-card-section-body{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
}

.image {
  width: 300px;
  height: 300px;
  align-items: center;
}

ion-button {
  --color: var(--ion-color-primary);
}

.ion-fab-button {
  --color: var(--ion-color-primary);
}

ion-card-content {
  padding: 0px;
}

ion-item {
  padding: 16px;
  // border-bottom: 1px solid var(--ion-color-medium);
  border-style: none;
}

ion-item:last-of-type {
  border-bottom: none;
}

ion-note {
  font-size: 12px;
}


.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .loading-text {
    margin-top: 20px;
    text-align: center;
    width: 250px;
    color: var(--ion-color-primary);
    font-size: 18px;
  }
}