<ion-content>
  <div class="top-section">
    <div *ngIf="user; else loadingBalance" class="balance-section">

      <div class="balance-label">
        Total Balance:
      </div>
      <div class="balance-amount">

        {{ user.balance | currency:'MYR':'symbol':'1.2-2' }}
      </div>
    </div>
    <ng-template #loadingBalance>
      <div class="loading-spinner">
        <ion-spinner color="primary"></ion-spinner>
        <p class="loading-text glob-text-bold">Loading balance......</p>
      </div>
    </ng-template>
  </div>


  <ion-card class="transaction-section">
    <ion-card-header class="transaction-ion-header">
      <div class="transaction-header">
        Recent Transactions
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="user; else loadingTransactions" class="transaction-ion-list">

          
          <ion-card *ngFor="let transaction of transactions" class="transactions">
            <ion-item class="ion-no-padding" lines="none">
              <ng-container *ngIf="transaction.receiver_id===user.user_id">
                <ion-icon color="success" name="arrow-down-outline"></ion-icon>
                <div class="labels-container">
                  <ion-label *ngIf="transaction.transaction_method === 'online_banking'">
                    Top up by online banking
                  </ion-label>
                  <ion-label *ngIf="transaction.transaction_method === 'card_topup'">
                    Top up by card {{ transaction.last_4_card_digits}}
                  </ion-label>
                  <ion-label *ngIf="transaction.transaction_method === 'instant_transfer'">
                    Received from {{ transaction.sender_id}}
                  </ion-label>
                  <ion-label class="labels-date">
                    {{ transaction.registered_at | date:'mediumDate'}}
                  </ion-label>
                  <ion-label class="labels-time">
                    {{ transaction.registered_at | date:'h:mm a'}}

                  </ion-label>
                </div>

                <ion-label class="balance-change-label" slot="end">
                  + {{transaction.amount}}
                </ion-label>
              </ng-container>
              <ng-container *ngIf="transaction.sender_id===user.user_id">
                <ion-icon color="danger" name="arrow-up-outline"></ion-icon>
                <div class="labels-container">
                  <ion-label *ngIf="transaction.transaction_method === 'instant_transfer'">
                    Transfer to {{ transaction.receiver_id}}
                  </ion-label>
                  <ion-label>
                    {{ transaction.registered_at | date:'mediumDate'}}
                  </ion-label>
                  <ion-label>
                    {{ transaction.registered_at | date:'h:mm a'}}
                  </ion-label>
                </div>

                <ion-label class="balance-change-label" slot="end">
                  - {{transaction.amount}}
                </ion-label>
              </ng-container>
            </ion-item>
          </ion-card>



      </ion-list>

      <ion-infinite-scroll [disabled]="isLast" (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <ng-template #noTransactions>
        <div class="no-transaction-section">
          <ion-label class="no-transaction-section-title">No Transactions Found</ion-label>
          <ion-img class="image" src='assets/img/no_transaction_history.png'></ion-img>
        </div>
      </ng-template>
      <ng-template #loadingTransactions>
        <div class="loading-spinner">
          <ion-spinner color="primary"></ion-spinner>
          <p class="loading-text glob-text-bold">Loading user transactions......</p>
        </div>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>